<<<<<<< HEAD
.navigation{
    padding: 10px;
}
.navigation__list{
    list-style-type: none;
    text-align: center;
    border-bottom: none;
}
.navigation__listItem{
    margin: 10px auto;
}
.navigation__link{
    text-decoration: none;
    color: currentColor;
    padding: 1px 10px;
    border-left: 1px solid rgb(114, 48, 79);
    border-right: 1px solid rgb(114, 48, 79);
    font-weight: bold;
    margin: auto;
    margin: collapse;
    max-width: 100px;
    max-height: 10px;
    line-height: 200%;
}
.navigation__link:focus{
    outline: 2px solid;
}
.navigation__link:hover{
    color: crimson;
    outline: none;
}
.navigation__link:active{
    color: purple;
    outline: none;
}
.navigation__link:visited{
    color: crimson;
}
=======
.navigation{
    padding: 10px;
}
.navigation__list{
    list-style-type: none;
    text-align: center;
    border-bottom: none;
}
.navigation__listItem{
    margin: 10px auto;
}
.navigation__link{
    text-decoration: none;
    color: currentColor;
    padding: 1px 10px;
    border-left: 1px solid rgb(114, 48, 79);
    border-right: 1px solid rgb(114, 48, 79);
    font-weight: bold;
    margin: auto;
    margin: collapse;
    max-width: 100px;
    max-height: 10px;
    line-height: 200%;
}
.navigation__link:focus{
    outline: 2px solid;
}
.navigation__link:hover{
    color: crimson;
    outline: none;
}
.navigation__link:active{
    color: purple;
    outline: none;
}
.navigation__link:visited{
    color: crimson;
}
>>>>>>> f27654633005332bc320d79a59c47c80ba8692f3
