<<<<<<< HEAD
html{
    box-sizing: border-box;
}
*, 
::after,
::before {
    box-sizing: inherit;
}
.body{
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    background-color: hsla(36, 95%, 75%, 0.808);
    margin: 0 auto;
    max-width: 1000px;
}

.container{
    overflow-x: auto;
}

.body--dark{
    background-color: #131212;
    color: aliceblue;
}

.header{
    text-align: center;
    max-width: 1000px;
    margin: 16px auto;
    padding: 10px auto;
    text-shadow: -4px 4px 15px rgb(240, 188, 126);
}

.body__zdjecie{
    text-align: center;
}

.body__image{
    max-width: 395px;
    height: auto;
    width: 100%;
}

=======
html{
    box-sizing: border-box;
}
*, 
::after,
::before {
    box-sizing: inherit;
}
.body{
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    background-color: hsla(36, 95%, 75%, 0.808);
    margin: 0 auto;
    max-width: 1000px;
}

.container{
    overflow-x: auto;
}

.body--dark{
    background-color: #131212;
    color: aliceblue;
}

.header{
    text-align: center;
    max-width: 1000px;
    margin: 16px auto;
    padding: 10px auto;
    text-shadow: -4px 4px 15px rgb(240, 188, 126);
}

.body__zdjecie{
    text-align: center;
}

.body__image{
    max-width: 395px;
    height: auto;
    width: 100%;
}

>>>>>>> f27654633005332bc320d79a59c47c80ba8692f3
